:root{
  --body-padding: 15px;
  --body-min-width: 950px;

  --chat-header-height: 3.5rem;
  --secndary-text-color: #b6b9bb;
  --icons-color: #b1b1b1;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html{
  font-family: 'Lato';
}

body{
  background-color: lightgrey;
  padding: var(--body-padding);
  width: 100%;
  height: 100vh;
  min-width: var(--body-min-width);
}

img{
  width: 100%;
}

/* ---ROOT---  */

#root{
  margin: 0 auto;
  height: calc(100vh - var(--body-padding) * 2);
  width: 85%;
  min-width: calc(var(--body-min-width) - var(--body-padding) * 2);

  display: flex;
  flex-wrap: nowrap;
}

/*common elements chat-list and chat-display*/
.chat-header{
  width: 100%;
  height: var(--chat-header-height);
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header .options{
  margin: 0 10px;
  color: var(--icons-color);
}

.chat-header .options i{
  margin: 0 5px;
  font-size: 1.2rem;
}

.chat-header .user{
  height: 100%;
  display: flex;
  align-items: center;
}

.chat-header .user img{
  width: auto;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0 10px;
}

.chat-header .user{
  flex-grow: 1;
}

/* ---chat List---  */

.chat-list{
  width: 30%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dedede;
}

/*contacts list */
.contacts-list{
  flex-grow: 1;
  background-color: white;
}

  /*notifications*/

.notifications{
  display: flex;
  align-items: center;
  background-color: #8edafc;
  padding: 1rem;
}

.notifications .icon{
  margin-right: 10px;
  border-radius: 50%;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: white;
}

.notifications .action-text h3{
  font-size: .8rem;
}

.notifications .action-text a{
  color: #4f7485;
  font-size: .7rem;
}

  /*search bar*/

.search-bar{
  background-color: #fafafa;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.search-bar i{
  padding: .2rem .6rem;
  font-size: 1rem;
  background-color: white;
  color: var(--icons-color);
}

.search-bar input,
.search-bar input:focus-visible{
  border: 0;
  border-radius: 0;
  height: 1.4rem;
  flex-grow: 1;
  outline: 0;
}

  /*contacts*/

.contacts ul{
  list-style-type: none;
}

.chat-element{
  padding: .5rem 0;
  display: flex;
}

.chat-element:hover{
  background-color: #f4f5f5;
  cursor: pointer;
}

.chat-element.active{
  background-color: #e9ebeb;
}


.chat-element .icon{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1rem;
}

.chat-meta{
  flex-grow: 1;
}

.chat-element .chat-meta h3{
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.chat-element .chat-meta h4,
.chat-element .chat-time{
  font-weight: lighter;
  font-size: 0.8em;
  color: var(--secndary-text-color);
}

.chat-element .chat-time{
  margin-right: .5rem;
}

/* ---chat Display---  */

.chat-display{
  /* background-color: blue; */
  width: 70%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.user .user-info h4{
  font-weight: lighter;
  font-size: 0.7em;
  color: var(--secndary-text-color);
}

/*chat messages*/
.chat{
  width: 100%;
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.message{
  position: relative;
  margin-bottom: 5px;
  padding: 1.3rem 1.2rem;
  border-radius: 10px;
  min-width: 40%;
  max-width: 60%;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*add more margin between sent/received messages*/
.message.sent + .message.received,
.message.received + .message.sent{
  margin-top: 8px;
}

.message .message-option{
  margin-right: 6px;
  color: var(--icons-color);
  display: none;
}

/*messages menu*/
.message-options-menu{
  display: none;
  position: absolute;
  z-index: 1;
  bottom: -1.8rem;
  font-size: 1.2rem;
  line-height: 1.3;
}

.message-options-menu ul{
  border-radius: 5px;
  border: 1px solid var(--icons-color);
  list-style-type: none;
  background-color: inherit;
}

.message.sent .message-options-menu ul{
  background-color: #b5f9ba;
}

.message.received .message-options-menu ul{
  background-color: white;
}

.message-options-menu li{
  padding: 0 .4rem;
}


.message:hover .message-option,
.message.menu-active .message-option,
.message.menu-active .message-options-menu{
  display: inline-block;
  cursor: pointer;
}

.message span{
  position: absolute;
  right: 5px;
  bottom: 5px;
  align-self: flex-end;
  font-size: .7rem;
  color: var(--secndary-text-color)
}

.message.received{
  align-self: flex-start;
  background-color: white;
}

.message.sent{
  align-self: flex-end;
  background-color: #b5f9ba;
}

  /*write message section*/
.write-message-section{
  width: 100%;
  height: 4rem;
  background-color: #f3eeea;
  display: flex;
}

.chat-icon{
  width: 6rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
  color: grey;
}

.chat-icon i{
  padding: .3rem;
  cursor: pointer;
}

.chat-input{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.chat-input input,
.chat-input input:focus-visible{
  flex-grow: 1;
  height: 75%;
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0 .8rem;
  outline: 0;
}

